.app {
  width:45%;
  height: auto;
  text-align: center;
  background-color: aquamarine;
  padding: 0px 12px;
  margin : 5% 25%;
  border-radius: 10px;
}
.erorr{
  color:red;
  text-align: left;
}
.ico {
  font-size: 26px;
  color: black;
}
.badge-danger {
  color: #fff;
  background-color: #dc3545;
  position: absolute;
  top: 6px;
  right: 7px;
}